@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  
  --color-background: #050505;
  --color-foreground: #ffffff;
  
  --color-neon-purple: #A06CD5;
  --color-slime-green: #4ADE80;
  --color-bright-orange: #F97316;
  --color-yellow: #FACC15;
}

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
